<div class="user-detail-container">
  <h2>Detalles del Usuario</h2>
  <form (ngSubmit)="updateUser()">
    <label for="name">Nombre:</label>
    <input id="name" [(ngModel)]="user.name" name="name" required />

    <label for="last_name">Apellido:</label>
    <input id="last_name" [(ngModel)]="user.last_name" name="last_name" required />

    <label for="email">Email:</label>
    <input id="email" [(ngModel)]="user.email" name="email" required />

    <label for="role">Rol:</label>
    <select id="role" [(ngModel)]="user.role" name="role">
      <option value="user">User</option>
      <option value="admin">Admin</option>
    </select>

    <!-- Campo de contraseña -->
    <label for="password">Contraseña:</label>
    <div class="password-input-wrapper">
      <input 
        id="password" 
        type="{{passwordFieldType}}" 
        [(ngModel)]="user.password" 
        name="password" 
        placeholder="Ingresa la contraseña" 
      />
      <button 
        type="button" 
        class="toggle-password-btn" 
        (click)="togglePassword()">
        <i class="fa" [ngClass]="passwordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'"></i>
      </button>
    </div>

    <div class="button-container">
      <button type="submit">Actualizar</button>
      <button class="delete-btn" (click)="deleteUser()">Eliminar Usuario</button>
    </div>
  </form>
</div>