/* Contenedor de la cabecera */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 8px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .search-label {
    font-size: 25px; /* Tamaño del texto aumentado */
    font-weight: bold; /* Si quieres que el texto sea más grueso */
  }
  
  /* Estilo para el input de búsqueda */
  .search-input {
    width: 60%;
    padding: 12px;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  
  .search-input:focus {
    border-color: #2196f3;
    outline: none;
  }
  
  /* Estilo para el botón de añadir usuario */
  .add-user-btn {
    background-color: #4caf50; /* Color verde suave */
    color: #fff;
    padding: 12px 20px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-user-btn:hover {
    background-color: #45a049; /* Verde más oscuro al pasar el ratón */
  }
  
  /* Estilos para la tabla */
  .user-table-container {
    margin-top: 20px;
    max-width: 100%;
    overflow-x: auto;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
  }
  
  .user-table th, .user-table td {
    padding: 12px;
    text-align: left;
    font-size: 18px;
    border-bottom: 1px solid #f4f4f4;
  }
  
  .user-table th {
    background-color: #c0bcac; /* Color similar al footer */
    color: white;
  }
  
  .user-table td {
    color: #333333; /* Gris oscuro para mejor legibilidad */
  }
  
  .user-table td a {
    color: #2196f3; /* Azul suave para enlaces */
    text-decoration: none;
    font-weight: bold;
  }
  
  .user-table td a:hover {
    color: #1e88e5; /* Azul más oscuro al pasar el ratón */
  }
  
  /* Añadir espacio entre las filas */
  .user-table tr:last-child td {
    border-bottom: none;
  }
  
  /* Responsividad para la tabla */
  @media screen and (max-width: 768px) {
    .search-input {
      width: 40%;
    }
  
    .user-table th, .user-table td {
      font-size: 18px;
    }
  
    .user-table-container {
      margin-top: 10px;
    }
  }
  