.cart-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.5);
    padding: 15px;
    z-index: 1000;
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
}

.close-btn {
    position: absolute;
    top: 14px;
    right: 10px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
}

.close-btn:hover {
    color: #e40808;
}

h2 {
    margin: 0 0 10px;
    font-size: 18px;
}

.cart-items {
    flex: 1;
    overflow-y: auto;
    gap: 10px;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
}

.cart-items::-webkit-scrollbar {
    color: transparent;
    width: 7px;
}

.cart-items::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.cart-item img {
    width: 115px;
    height: 115px;
    margin-right: 15px;
    object-fit: cover;
    border: #ccc 1px solid;
}

.item-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.item-details h2 {
    margin: 0 0 3px;
    font-size: 15px;
    text-transform: uppercase;
}

.item-details p {
    margin: 3px 0;
    font-size: 14px;
}

.actions {
    display: flex;
    gap: 90px;
}

.actions button {
    font-size: 14px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.actions button:hover {
    background-color: #e7d9d9;
}

.quantity-selector {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    overflow: hidden;
}

.quantity-selector button {
    background-color: #f5f5f5;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
}

.quantity-selector button:hover {
    background-color: #e0e0e0;
}

.quantity-selector input {
    width: 30px;
    border: none;
    text-align: center;
    font-size: 14px;
}

.quantity-selector input:focus {
    outline: none;
}

.quantity-selector button:first-child {
    border-right: 1px solid #ccc;
    border-radius: 0;
}

.quantity-selector button:last-child {
    border-left: 1px solid #ccc;
    border-radius: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.total-container .subtotal {
    margin: 16px 0 8px;
    display: flex;
    justify-content: space-between;
}

.total-container {
    padding-bottom: 15px;
    position: sticky;
}

.total-container p span {
    font-size: 18px;
    font-weight: bold;
}

.total-container .nota {
    color: #5f5f5f;
    margin: 8px 0;
    text-align: justify;
}

.checkout-btn {
    background-color: #c0bcac;
    color: #ffffff;
    border: #a19e91 2px solid;
    width: 100%;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    margin: 8px 0 16px;
}

.cartview-btn {
    background-color: #ffffff;
    color: #5f5f5f;
    border: #cacaca 2px solid;
    width: 100%;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
}

.total-container p {
    text-align: center;
}

.login-btn {
    background-color: #c0bcac;
    color: #ffffff;
    border: #a19e91 2px solid;
    width: 50%;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 50%;
    transform: translateX(-50%);
}