.container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    font-size: 20px;
  }
  
  .sidebar ul li {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .sidebar ul li:hover {
    background-color: #eee;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
  }
  
  .section {
    margin-top: 20px;
  }
  
  h2 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  .user-info p {
    font-size: 20px;
  }
  
  .user-info strong {
    font-weight: bold;
  }
  
  /* Estilos Generales para la Tabla */
.orders-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 20px;
}

.orders-table th,
.orders-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.orders-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.orders-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.orders-table tr:hover {
  background-color: #f1f1f1;
}

.orders-table button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.orders-table button:hover {
  background-color: #0056b3;
}
