/* General Admin Layout */
.admin-dashboard {
    text-align: center;
    padding: 40px;
    background-color: #f4f4f9;
  }
  
  .admin-dashboard h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 30px;
  }
  
  /* Container for buttons */
  .button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
  }
  
  /* General Button Styles */
  .button {
    padding: 20px 40px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button span {
    color: #fff;
  }
  
  /* Product Button */
  .button.black {
    background-color: #333;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  .button.black:hover {
    background-color: #444;
    transform: translateY(-5px);
  }
  
  /* User Button */
  .button.orange {
    background-color: #ff5722;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  .button.orange:hover {
    background-color: #e64a19;
    transform: translateY(-5px);
  }
  
  /* User Button */
  .button.blue {
    background-color: lightseagreen;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  .button.blue:hover {
    background-color: lightseagreen;
    transform: translateY(-5px);
  }
  