<div class="main-content">
  <!--   imagen portada -->
  <div class="container-portada">
    <div class="contenedor-texto">
      <span class="traje-text">TRAJE</span>
    </div>
    <div class="contenedor-Man">
      <img
        src="https://static.wixstatic.com/media/f97f96f080924e708319a8158fc1386e.jpg/v1/fill/w_818,h_561,fp_0.52_0.18,q_85,enc_avif,quality_auto/Man%20in%20a%20Tuxedo.jpg"
        style="width: 100%; height: 100%; object-fit: cover"
      />
      <div class="contenedor-overlay">
        <p style="color: white; font-size: 30px; text-align: left">
          <i
            >2025/Coleccion <br />
            de verano</i
          >
        </p>
        <button class="button-overlay-portada" [routerLink]="['/products']" >
          <i>Comprar ahora</i>
        </button>
      </div>
    </div>
  </div>
  <!--   comprar por categorias -->
  <div class="comprar-categorias-container">Comprar por categorias</div>
  <div class="container-categorias">
    <div class="item">
      <img
        src="https://static.wixstatic.com/media/11062b_0ffd2ee31be84dfb8b778aa499270f96~mv2.jpg/v1/fill/w_321,h_443,fp_0.71_0.23,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/Dressed%20Up.jpg"
      />
      <div class="contenedor-button">
        <button class="button-camisas">Camisas</button>
      </div>
    </div>
    <div class="item">
      <img
        src="https://static.wixstatic.com/media/c837a6_87e15407f0e246a690f9d907ffcd3cb2~mv2.jpg/v1/fill/w_321,h_443,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/mayagi_fashoin_shot_of_a_man_wearing_a_Coastal_Linen_pants__The_5ea32b6b-a0a6-4268-9bc2-76.jpg"
      />
      <div class="contenedor-button">
        <button class="button-camisas">Pantalones</button>
      </div>
    </div>
    <div class="item">
      <img
        src="https://static.wixstatic.com/media/11062b_6096034966f947ea8d781bce15110225~mv2.jpg/v1/fill/w_321,h_443,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/Blue%20Suit.jpg"
      />
      <div class="contenedor-button">
        <button class="button-camisas">Accesorios</button>
      </div>
    </div>
    <div class="item">
      <img
        src="https://static.wixstatic.com/media/11062b_36858c2a90fe4fb8a8982a97ea88b286~mv2.jpg/v1/fill/w_319,h_425,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/11062b_36858c2a90fe4fb8a8982a97ea88b286~mv2.jpg"
      />
      <div class="contenedor-button">
        <button class="button-camisas">Blazer</button>
      </div>
    </div>
  </div>
  <!-- ultimos modelos -->
  <div class="ultimos-modelos-container">Ultimos modelos</div>
  <div class="container-ultimos-modelos">
    <div class="contenedor-blazer-azul">
      <img
        src="https://static.wixstatic.com/media/11062b_36858c2a90fe4fb8a8982a97ea88b286~mv2.jpg/v1/fill/w_319,h_425,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/11062b_36858c2a90fe4fb8a8982a97ea88b286~mv2.jpg"
        style="width: 100%; height: 100%"
      />
      <p class="texto-modelos">Blazer azul</p>
      <p style="margin-top: -15px">$75,00</p>
    </div>

    <div class="contenedor-terno-gris">
      <img
        src="https://static.wixstatic.com/media/11062b_ad1d9e4f20ed4a38bc0860102d53a19a~mv2.jpg/v1/fill/w_319,h_425,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/11062b_ad1d9e4f20ed4a38bc0860102d53a19a~mv2.jpg"
        style="width: 100%; height: 100%"
      />
      <p class="texto-modelos">Terno Hombre gris</p>
      <p style="margin-top: -15px">$128,00</p>
    </div>
    <!-- ultimos modelos clasiscos -->
    <div class="contenedor-modelos-clasicos">
      <img
        src="https://static.wixstatic.com/media/11062b_4285c060a4314aee8c4fea0ac1d81fa9~mv2.jpg/v1/fill/w_652,h_999,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/Adjusting%20Necktie.jpg"
        style="width: 100%; height: 100%"
      />
    </div>
    <div class="contenedor-terno-marron">
      <img
        src="https://static.wixstatic.com/media/c837a6_102916e0c54e4cab955caa3957390773~mv2.jpg/v1/fill/w_319,h_425,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/c837a6_102916e0c54e4cab955caa3957390773~mv2.jpg"
        style="width: 100%; height: 100%"
      />
      <p class="texto-modelos">Blazer de lana marron</p>
      <p style="margin-top: -15px">$80,00</p>
    </div>
  </div>
  <!--  HIDALGO PLUS  -->
  <div class="comprar-categorias-container">
    <p>Hidalgo plus</p>
    <h1 style="font-family: 'Times New Roman', Times, serif">
      <strong>Reviviendo la comodidad y lo clásico</strong>
    </h1>
    <p>
      "Trajes Hidalgo Plus" busca aumentar su base de clientes mejorar la
      atención al cliente <br />y gestionar eficientemente el inventario, con
      la posibilidad de expandir la variedad de <br />
      productos ofrecidos"
    </p>
  </div>
  <!--   mejores promociones   -->
  <div class="image-container">
    <img
      src="https://static.wixstatic.com/media/7f9bb3acfaf14f7b884e1212c0658162.jpg/v1/fill/w_1343,h_761,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/Suit%20Fabric.jpg"
    />
    <div class="text-overlay">
      Las Mejores <br />
      Promociones
    </div>
    <button class="button-overlay" [routerLink]="['/products']">Compra now</button>
  </div>
  <!--     redes sociales -->
  <div class="redes-sociales-container">
    <div class="text-redes-sociales">
      <h3 style="padding: 20px">
        Siguenos en nuestras <br />
        Redes Sociales
      </h3>
      <a style="padding: 20px" href="https://www.instagram.com/trajeshidalgoplus/?hl=en">
        Ir a Instagram</a
      >
    </div>
    <div class="image-redes-sociales">
      <img
        src="https://static.wixstatic.com/media/11062b_239909a0e9d944ba89e22e9dd97ad165~mv2.jpg/v1/fill/w_656,h_525,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/Suit.jpg"
      />
    </div>
  </div>
</div>