/* Contenedor principal */
.register-container {
  display: flex;
  height: 100vh;
  /* flex-direction: row-reverse; Invierte el orden de los elementos */
}

/* Sección del logo */
.logo-section {
  width: 50%;
  background-image: url('../../../assets/logo.png');
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

/* Estilo general para el título */
.logo-section h1 {
  font-size: 50px;
  color: #333;
  font-weight: normal;
  margin-bottom: 10px;
}

/* Estilo específico para "Sartorial" */
.logo-section .sartorial {
  font-weight: bold;
  color: #000;
}

/* Estilo específico para "Sys" */
.logo-section .sys {
  color: #ccc;
  font-weight: normal;
}

/* Estilo para el texto de la parte inferior */
.logo-section p {
  font-size: 18px;
  color: #666;
}

/* Sección del formulario */
.form-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor del formulario */
.form-container {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

/* Títulos */
.form-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-container p {
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
}

/* Campos de entrada */
.input-field {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
}

/* Estilo para el input cuando está enfocado */
.input-field:focus {
  border-color: #444;
}

/* Etiquetas de los inputs */
label {
  display: block;
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 18px;
}

/* Estilo para el contenedor de los inputs de contraseña */
.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input-wrapper input {
  width: 100%; /* Asegura que el input ocupe todo el espacio disponible */
  padding-right: 40px; /* Espacio para el ícono del ojo */
}

/* Botón para mostrar/ocultar la contraseña */
.toggle-password-btn {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Botón de crear cuenta */
.register-button {
  width: 100%;
  background-color: black;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.register-button:hover {
  background-color: #333;
}

/* Enlaces */
.link {
  color: #666;
  font-size: 17px;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
