.container-wrapper {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.sidebar {
  width: 250px;  /* Ajusta el ancho del menú lateral */
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sidebar h2, .sidebar h3 {
  font-size: 20px; /* Aumentamos el tamaño de las letras */
  font-weight: bold;
  margin-bottom: 15px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 17px;
  display: block;
}

.sidebar ul li a:hover {
  color: #007bff;
}

.sidebar input[type="range"] {
  width: 100%;
  margin-top: 20px;
}

.sidebar label {
  font-size: 15px; /* Aumentamos el tamaño de las letras */
  margin-bottom: 5px;
  display: block;
}

.price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.price-container span {
  font-size: 12px;
  font-weight: bold;
  color: #007bff;
}

.price-container .currency {
  margin-left: 5px;
  font-size: 19px;
  color: #333;
}

.price-container .range {
  flex-grow: 1;
  margin-left: 10px;
}

select {
  width: 100%;
  padding: 10px;
  font-size: 14px; /* Aumentamos el tamaño de las letras */
  margin-bottom: 10px;
  border-radius: 12px; /* Diseño flotante con bordes redondeados */
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
}

input[type="range"] {
  width: 100%;
  background-color: #ddd;
  border-radius: 5px;
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #333;  /* Botón de la barra de rango negro */
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #333;  /* Botón de la barra de rango negro */
  cursor: pointer;
}

.products {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
}

.product-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin-bottom: 10px; /* Controla la distancia con los productos */
}

.product-header h1 {
  font-size: 24px;
  margin-bottom: 3px; /* Ajusta el margen inferior */
}

.product-header p {
  font-size: 22px; /* Hacer el contador más grande */
  color: #666;
  margin-top: 0;  /* Elimina el margen superior */
  margin-bottom: 10px; /* Reduce el espacio con los productos */
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Alinea las tarjetas a la izquierda */
  gap: 20px;
  margin-top: 10px; /* Reduce el espacio entre los productos y el contador */
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s;
  text-decoration: none;
  color: inherit;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  max-width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.product-card h3 {
  font-size: 21px;
  margin: 10px 0;
}

.product-card p {
  font-size: 19px;
  color: #333;
  margin: 10px 0;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.add-button {
  margin-left: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #0056b3;
}
