<footer>
  <div class="footer-container">
    <div class="footer-section">
      <h3>Shop</h3>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Camisas</a></li>
        <li><a href="#">Pantalones</a></li>
        <li><a href="#">Ternos</a></li>
        <li><a href="#">Accesorios</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Policy</h3>
      <ul>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Shipping Policy</a></li>
        <li><a href="#">Refund Policy</a></li>
        <li><a href="#">Accessibility Statement</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Follow Us</h3>
      <ul>
        <li><a href="#">Tik tok</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Facebook</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Contact</h3>
      <ul>
        <li><a href="#">support@sartorialsys.com</a></li>
        <li><a href="#">2(87)859-22-59</a></li>
        <li>
          <a href="#">
            <p>Ciudadela La Alborada, Ambato <br> Intersección de las calles Jácome Clavijo N23 y Rodrigo Vera.</p>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Línea divisoria -->
  <hr class="divider">

  <div class="footer-credit">
    <p>Aceptamos los siguientes métodos de pago::</p>
    <div class="credit-cards">
      <img src="assets/visa.webp" class="credit-card">
      <img src="assets/dinersClub.webp" class="credit-card">
      <img src="assets/discover.png" class="credit-card">
      <img src="assets/paypal.png" class="credit-card">
      <img src="assets/americanExpress.png" class="credit-card">
    </div>
  </div>

  <!-- Línea divisoria -->
  <hr class="divider">

  <div class="footer-bottom">
    <p>&copy; 2025 Trajes Hidalgo Plus. Todos los derechos reservados.</p>
    <p>NOTA: Todo esto es de carácter educativo</p>
  </div>
</footer>
